{% extends 'base.html' %}
{% block content %}

<h1>Log In</h1>

<form action="/login" method="POST">
  {{ form.csrf_token }}
  <fieldset>
    <legend>Enter your credentials</legend>

    {{ form.username.label }}
    {{ form.username }}

    {% if form.username.errors %}
      <ul>
        {% for error in form.username.errors %}
          <li class="error">{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {{ form.password.label }}
    {{ form.password }}

    {% if form.username.errors %}
      <ul>
        {% for error in form.username.errors %}
          <li class="error">{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {{ form.submit }}
    
    </fieldset>
  </form>


{% endblock %}